<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <title>Document</title>
</head>
<body>
    <div class="col-sm-4"><%= yield :post_table %></div>
	<div class="col-sm-4"><%= yield :post_form %></div>
	<div class="col-sm-4"><%= yield :user_page %></div>
</body>
</html>