<%# <style>
    .building{
        width:250px;
        border: 2px solid black; 
        height:250px; 
        display: inline-block;
        vertical-align: top;
        margin-right: 50px;
        text-align: center
    }  
</style> %>

<div id="top">
    <h4>Your Gold: <%= @gold %></h4>
</div>

<div class="building">
    <h4>Farm</h4>
    <p>(earn 5 - 10 gold)</p>
    <form action="/process" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="building" value="cave">
        <input type="submit" name="" value="Find Gold!">
    </form>
</div>

<div class="building">
    <h4>Cave</h4>
    <p>(earn 5 - 10 gold)</p>
    <form action="/process" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="building" value="cave">
        <input type="submit" name="" value="Find Gold!">
    </form>
</div>

<div class="building">
    <h4>House</h4>
    <p>(earn 2 - 5 gold)</p>
    <form action="/process" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="building" value="house">
        <input type="submit" name="" value="Find Gold!">
    </form>
</div>

<div class="building">
    <h4>Casino</h4>
    <p>(earn/take 0 - 50 gold)</p>
    <form action="/process" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="building" value="casino">
        <input type="submit" name="" value="Find Gold!">
    </form>
</div>

<div id="activities">
    <h4>Activities</h4>
    <% @activities.each do |activity| %>
        <% if activity['won']%>
        <p style="color: green"><%= activity['message'] %></p>
        <% else %>
        <p style="color: red"><%= activity['message'] %></p>
        <% end %>
    <% end %>
</div>