<!DOCTYPE html>
<html>
<head>
  <title>Dojo Secrets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-right">
        <% if current_user %>
        <li class="nav-item" style="padding-right: 30px;">
            <a class="nav-link" href="/secrets">All Secrets <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"style="padding-right: 30px;">
          <a class="nav-link" href="/users/<%= current_user.id %>">Your Page <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"style="padding-right: 30px;">
          <a class="nav-link" href="/sessions/<%=current_user.id%>" data-method="delete">Logout <span class="sr-only">(current)</span></a>
        </li>
        <% else %>
        <li class="nav-item"style="padding-right: 30px;">
          <a class="nav-link" href="/sessions/new">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"style="padding-right: 30px;">
          <a class="nav-link" href="/users/new">Register <span class="sr-only">(current)</span></a>
        </li>
        <% end %> 
      </ul>
    </div>
  </nav>
  
  <div class="container">
  <%= yield %>
  <% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
    <% end %>
  <% end %>
  </div>
</body>
</html>