<h3>Name: <%= @user.first_name %></h3>
<h3>Alias: <%= @user.alias %></h3>
<h3>Email: <%= @user.email %></h3>

<h3>Total number of Ideas: <%= @user.ideas.count %></h3>
<h3>Total number of Likes: <%= @user.likes.count %></h3>